body {
  background-color: Almost Amethyst;
  background-color: rgb(185,187,226);
  margin-top: 100px;
  margin-left: 100px;
  font-family: "overpass", sans-serif
}
h1 {
  color: #E6E6FA;
  font-family: "overpass", sans-serif;
}
h3 {
  color: rgb(96,74,110);
}
ul {
  color: white;
}
a:hover {
  color: rgb(150,147,178);
}
