body {
  background-color: rgba(207,194,191);
  background-color: #CFC2BF
  margin-top: 400px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Noto Sans SC", sans-serif
}
h1 {
  color: #968986;
  text-align: : justify;
  font-family: "Noto Sans SC", sans-serif:
}
h2 {
  color: #968986;
  text-align: justify;
  font-family: "Noto Sans SC", sans-serif:
}
h3 {
  color: #968986;
  text-align: justify;
  font-family: "Noto Sans SC", sans-serif:
}
p {
  color: white;
  text-align: justify;
  font-family: "Noto Sans SC", sans-serif:
}
ul li {
  color: white;
  text-align: justify;
  font-fmaily: "Noto Sans SC", sans-serif
}
