.body {
  width: 300px;
  height: 350px;
  background-color: rgb(204,204,255);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 100px;
  left: 100px;
}
.stomach {
  width: 200px;
  height: 150px;
  background-color: rgb(255,252,222);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 298px;
  left: 150px;
}
.lefteye {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 180px;
}
.righteye {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 290px;
}
.mouth {
  width: 30px;
  height: 30px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid rgb(204,204,255);
  border-top: 5px solid rgb(204,204,255);
  border-radius: 50%;
  transform: rotate(45deg);
  position: absolute;
  top: 210px;
  left: 230px;
}
.tentacle1 {
  width: 50px;
  height: 50px;
  background-color: rgb(204,204,255);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 425px;
  left: 145px;
}
.tentacle2 {
  width: 50px;
  height: 50px;
  background-color: rgb(204,204,255);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 435px;
  left: 198px;
}
.tentacle3 {
  width: 50px;
  height: 50px;
  background-color: rgb(204,204,255);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 435px;
  left: 252px;
}
.tentacle4 {
  width: 50px;
  height: 50px;
  background-color: rgb(204,204,255);
  border-radius: 50% 50% 50% 50% / 75% 60% 40% 40%;
  position: absolute;
  top: 425px;
  left: 305px;
}
